/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Pallette Selector */
:root {
  --light-gray: #a6b5c5;
  --slate: #31343a;
  --dark-blue: #0a1a3e;

  --cultured: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --light-gray: #ced4daff;
  --cadet-blue-crayola: #adb5bdff;
  --slate-gray: #6c757dff;
  --davys-grey: #495057ff;
  --gunmetal: #343a40ff;
  --charleston-green: #212529ff;
}

body {
  background-color: var(--light-gray);
  font-family: Helvetica, Arial, sans-serif;
}

/* Header/Nav Styles */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--slate);

}

header {
  padding: 20px 0px;
  background-color: var(--slate);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  color: var(--slate);
  background-color: rgba(166,181,197,.7);
  padding-left: 60px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 5px var(--dark-blue);
  /* transition: .5s; */;
  margin-top: 0px;
  margin-bottom: 0px
}

/* header h1:hover {
  background-color: rgb(49, 52, 58);
} */

header h1 a {
  text-decoration: none;
  color: var(--slate);
  transition: .3s;
}

header h1 a:hover {
  text-decoration: none;
  color: var(--light-gray);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: right;
  list-style: none;
  margin-bottom: 0px;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: var(--light-gray);
  transition: .5s;
}

header nav ul li a:hover {
  background-color: var(--light-gray);
  color: var(--slate);
}

.header-active {
  background-color: var(--light-gray);
  color: var(--slate);
}

nav {
  margin-top: 44px;
}

/* Main Wrapper Styles */
.main-wrapper {
  width: 90%;
}

/* Section Title Styles */
.section-title {
  font-weight: bold;
  font-size: 30px;
  color: var(--slate);
  text-align: left;
  border-bottom: 3px solid var(--slate);
} 

/* section {
  margin: 50px 10px;
} */

/* .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
} */

/* .parent-column1 {
  display: flex;
  flex-direction: column;
  flex: 1 15%;
}

.parent-column2 {
  display: flex;
  flex-direction: column;
  flex: 2 60%;
  margin: 0 0 0 3%
} */

/* About Me Section Styles */
/* .bio {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
} */

/* Work Container Grid Styles */
/* .work-grid-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, 1fr);
  grid-gap:15px;
  grid-auto-flow: dense;
  flex-wrap: wrap;
} */

/* .work-grid-item {
  border: 4px solid var(--slate);
  display: flex;
  align-items: flex-end;
  justify-content: left;
  background-color: rgba(10, 26, 62, .5);
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  padding: 0 0 10px 0;
  transition: .5s;
} */

/* .work-grid-item:hover {
  background-color: rgba(10, 26, 62, 0)
} */

/* .work-grid-item div {
  background-color: var(--light-gray);
  padding: 5px 10px;
  color: var(--slate);
} */

/* Media Queries Styles */

/* Media Query for iPad width and smaller */
@media screen and (max-width: 768px) {
  header {
      justify-content: center;
      flex-direction: column;
  }

  header h1 {
      text-align: center;
      padding-left: 10px;
  }

  header nav ul {
      justify-content: space-around;
  }

  .hero-header {
      margin-top: 50px;
  }
}

/* Media Query for iPhone Plus width and smaller */
/* @media screen and (max-width: 414px) {
  header nav ul {
      flex-direction: column;
      align-items: center ;
      line-height: 1.5;
  }

  header nav {
      margin: 20px 0;
  }
  
  .parent-column1 {
      border-right: none;
      border-bottom: 3px solid var(--slate);
      justify-items: center;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      flex: 0 100%;
      align-items: center;
  }

  .section-title {
      text-align: center;
      margin-bottom: 5px;
  }

  .parent-column2 {
      flex: 0 0 100%;
      margin: 15px 0 0 0;
      padding: 0 0 0 0;
  }

  .bio {
      line-height: 1.5;
      text-align: center;
  }

  .work-grid-container {
      grid-auto-rows: minmax(200px, 1fr);
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      margin: 0 10px;
  }

  .work-grid-item {
      background-size: 100%;
  }

  .site-1 {
      grid-column: 1/-1;
      grid-row: 1/-1;
  }

  .contact-links ul {
      flex-direction: column;
      align-items: center ;
  }

  .contact-links ul li a {
      line-height: 1.5;
  }
  
} */